body.radialbg {
	background-color: #97CAF3; /* rgba(82, 168, 236, 0.6); */
	background-image: -moz-radial-gradient(50% 50%, circle cover, #fff, #97CAF3 100%);
	background-image: -webkit-radial-gradient(50% 50%, circle cover, #fff, #97CAF3 100%);
	background-image: -o-radial-gradient(50% 50%, circle cover, #fff, #97CAF3 100%);
	background-image: -ms-radial-gradient(50% 50%, circle cover, #fff, #97CAF3 100%);
	background-image: radial-gradient(50% 50%, circle cover, #fff, #97CAF3 100%);
	background-attachment: fixed;
}

textarea[readonly] {
	cursor: default;
	background-color: #fff;
}




/* LOGIN FORM */
.form-signin {
	width: 300px;
	margin-left: -150px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}



/* MAIN APP */
body {
	padding-top: 60px;
}

/* navbar */
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}


.nav.form-search {
	position: absolute;
	left: 50%;
	margin: 5px 0 0 -140px;
}

#new_publish {
	padding: 15px;
}







/* Feedback */
/*
#feedback {
	position: fixed;
	top: 50%;
	left: -5.2em;
	background-color: #BBB;
	padding: 5px 10px;
	border-radius: 0 5px 5px 0;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	
	-moz-transition: all .7s;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}

#feedback:hover {
	left: 0;
	background-color: #888;
}

*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1048;
	cursor: default;
	background-color: white;
	/*opacity: .75;*/
	background-color: rgba(255, 255, 255, 0.75);
	-moz-transition: opacity, .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

.push-loader {
	display: block;
	position: fixed;
	top: 7px;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	z-index: 9999;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}
/* Home */

.pub {
	margin-bottom: 20px;
}

.pub .pub-inner {
	padding: 0 15px 10px;
	z-index: 20;
	position: relative;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pub .pub-avatar {
	margin-right: 5px;
	width: 32px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: 5px;
}

.pub .pub-head {
	margin-left: 40px;
}

.pub .pub-body {
}

.pub .pub-footer {
}

.pub .pub-comments {
	margin: -5px 5px 20px;
	padding: 5px 0 0;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.comment {
	position: relative;
	padding: 10px 10px 10px 37px;
	border-top: 1px solid #e3e3e3;
	min-height: 32px;
}

.comment:first-child {
	border-top: 0;
}

.comment:last-child {
	border-top: 0;
}

.comment .comment-avatar {
	position: absolute;
	left: 0;
	width: 32px;
	height: 32px;
}

.comment .comment-date {
	float: right;
	font-size: 10px;
	color: #999;
	white-space: nowrap;
	background-color: #fff;
	line-height: 12px;
}

.comment textarea {
	margin: 0;
}

.comment .comment-text {
	width: 95%;
}

.state-min .comment {
	padding: 10px;
}

.state-min .comment .comment-avatar
{
	display: none;
}






/* profile */
#profile .profile-pic {
	width: 260px;
	height: 260px
}

#profile .minipics {
	margin: 0;
	padding: 0;	
	max-height: 228px;
	overflow: hidden;
}

#profile .minipics:hover {

	overflow-y: scroll;
}

#profile .minipics img {
	width: 36px; /*32 36 40*/
	height: 36px;
	margin: 1px;
	padding: 0;
}

#profile > .row {
	margin-bottom: 30px;
}




/* Messages */

#messages .nav .badge {
	margin-right: 7px;
}

#messages .toolbar {
	padding: 15px 0 0;
}


.msg {
	position: relative;
	padding: 8px 8px 8px 40px;
	border-top: 1px solid #e3e3e3;
	min-height: 32px;
}

.msg:first-child {
	border-top: 0;
}

.msg:last-child {
	border-top: 0;
}

.msg .msg-avatar {
	position: absolute;
	left: 0;
	width: 32px;
	height: 32px;
}

.msg .msg-date {
	float: right;
	font-size: 10px;
	color: #999;
	white-space: nowrap;
	background-color: #fff;
	line-height: 12px;
}

.msg .msg-text {
	width: 95%;
}

