<div id="forgotPassword" class="fullscreen radialbg">
    <div class="modal">
        <div class="modal-header">
            <h3>Recuperar contraseña</h3>
        </div>
        <div class="modal-body" style="max-height:initial">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="umail">E-mail o Usuario</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="umail">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="instructions">Instrucciones</label>
                    <div class="controls">
                        <textarea class="input-xlarge" id="instructions" rows="5" readonly="readonly">
Recibirás un email con un enlace de confirmación. Una vez confirmes el sistema generar una contraseña aleatoria y te la enviara a tu correo electronico. Se recomienda cambiarla por una mas fácil de recordar. Si no recibes el email, acuérdate de mirar en la bandeja de spam.Reciviras un email con un enlace de confirmacion. Una vez confirmes el sistema generar una contraseña aleatoria y te la enviara a tu email. Se recomienda cambiarla por una mas fácil de recordar. Si no recibes el email, acuérdate de mirar en la bandeja del spam.</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="aceptIns"></label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="aceptIns" value="aceptIns">
                            He leído las instrucciones
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="index.htm" class="btn">Cancelar</a>
            <a href="#" class="btn btn-primary">Recuperar contraseña</a>
        </div>
    </div>
</div>