<div id="login" class="fullscreen radialbg">
    <form id="loginForm" method="post" action="main.php?do=special&amp;that=login">
        <div class="modal form-signin">
            <div class="modal-header">
                <!--<img src="img/logo.png" />-->
                <a class="brand logotext" href="/"><b>S</b><b>M</b><b>I</b><b>L</b><b>3</b></a>
            </div>
            <div class="modal-body">
                <input type="text" class="input-block-level" name="username" placeholder="Usuario" autofocus required pattern="[a-zA-Z0-9_]{3,45}" />
                <input type="password" name="password" class="input-block-level" placeholder="Contraseña" required pattern=".{6,30}" />
                <label class="checkbox">
                    <input type="checkbox" value="noexpire" /> No cerrar sesión automáticamente
                </label>
                <a class="" href="/recover"><i class="icon-question-sign"></i> No recuerdo mi contraseña</a>
            </div>
            <div class="modal-footer">
                <a class="btn btn-link pull-left" href="/register">Quiero registrarme</a>
                <input type="submit" class="btn  btn-primary" value="Iniciar sesion" data-loading-text="Autentificando" />
            </div>
        </div>
    </form>
</div>