<div id="mainApp">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand logotext" href="/"><b>S</b><b>M</b><b>I</b><b>L</b><b>3</b></a>
                <ul class="nav">
                    <li class="active">
                        <a href="/">
                            <i class="icon-home"></i> Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/profile/{{>username}}">
                            <i class="icon-user"></i> Perfil
                        </a>
                    </li>
                    <li>
                        <a href="/messages">
                            <i class="icon-envelope"></i> Mensajes
                            {{if msg}}<span class="badge">{{>msg}}</span>{{/if}}
                        </a>
                    </li>
                    <li>
                        <a href="/notifications">
                            <i class="icon-bell"></i> Notificaciones
                            {{if notif}}<span class="badge">{{>notif}}</span>{{/if}}
                        </a>
                    </li>

                    <li class="divider-vertical"></li>

                    <li>
                        <!--<form class="navbar-search pull-left">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>-->
                        <input class="search-input search-query" type="text" id="search-query" placeholder="Buscar" name="q" autocomplete="off" spellcheck="false" data-focus="false" />
                    </li>
                    <li class="divider-vertical"></li>
                </ul>

                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" >
                            <i class="icon-pencil"></i> Publicar
                        </a>
                        <div id="new_publish" class="dropdown-menu">
                            <textarea name="pubcontent" class="span4" rows="4"></textarea>
                            <button type="submit" class="btn btn-primary">Publicar</button>
                            <button type="button" class="btn">Cancelar</button>
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-wrench"></i> <span id="username">{{>name}}</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/settings"><i class="icon-check"></i> Modificar perfil</a></li>
                            <li><a href="/settings/lists"><i class="icon-list-alt"></i> Editar listas y amigos</a></li>
                            <li><a href="/settings/acount"><i class="icon-cog"></i> Modificar cuenta</a></li>
                            <li class="divider"></li>
                            <li><a href="/help"><i class="icon-question-sign"></i> Ayuda</a></li>
                            <li><a href="/logout"><i class="icon-off"></i> Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main-content" class="tab-content container">

        <div class="tab-pane active" id="home">
            <div class="row">
                <div id="listOfList" class="sidebar span2" style="display:none">
                    <ul class="span2 nav nav-list sidenav affix">
                        <li class="active"><a href="/"><i class="icon-chevron-right"></i>Todo</a></li>
                        {{for lists}}
                        <li><a href="/list/{{>name}}" data-id="{{>id}}"><i class="icon-chevron-right"></i>{{>name}}</a></li>
                        {{/for}}
                    </ul>
                </div>

                <div id="posts" class="offset1 span7">

                </div>

                <div class="coments-wrap span3"><div class="arrow2"></div>
                    <div class="coments-container">

                        <div class="coments span3">
                                asdasd<br />asdf<br />asdf<br />
                                <div class="span3"></div>asdf<br />asdf<br />adsf<br />asdf<br />asdf<br />asdf<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />asdf<br /><br /><br /><br /><br /><br /><br /><br />asdf
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="profile"></div>

        <div class="tab-pane" id="notifications">
            <h1>Cargando notificaciones</h1>
        </div>

        <hr />
        <footer>
            <p>&copy; 2012 David Gonzalez, Tony Marín</p>
        </footer>
    </div>
</div>



