<div class="tab-pane" id="messages">
    <div class="page-header row form-inline">
        <h1 class="span3">Mensajes</h1>
        <div class="span9 toolbar">
            <button class="btn"><i class="icon-arrow-left"></i></button>
            <button class="btn"><i class="icon-plus"></i></button>
            <button class="btn"><i class="icon-refresh"></i></button>
            <button class="btn"><i class="icon-eye-close"></i></button>
            <button class="btn"><i class="icon-trash"></i></button>
            <div class="btn-group pull-right">
                <button class="btn"><i class="icon-th-list"></i></button>
                <button class="btn"><i class="icon-th-large"></i></button>
                <button class="btn"><i class="icon-th"></i></button>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="span3">
            <ul class="nav nav-pills nav-stacked affix-top">
                <li><a href="#"><small class="badge">1</small>Erika Mustermann<small class="pull-right muted">Hace 27 min.</small></a></li>
                <li><a href="#">Lieschen Müller</a></li>
                <li><a href="#">Otto Normalverbraucher</a></li>
                <li><a href="#">Juan Pérez</a></li>
                <li><a href="#">Don Nadie</a></li>
                <li><a href="#">Fulano de Tal</a></li>
                <li><a href="#">Juan de los Palotes</a></li>
                <li><a href="#">Doña Rosa</a></li>
                <li><a href="#">Doña María</a></li>
                <li class="active"><a href="#">Mongo Aurelio</a></li>
                <li><a href="#">Fred Nerk</a></li>
                <li><a href="#">Joe Blow</a></li>
                <li><a href="#">John Citizen</a></li>
                <li><a href="#">Simon McCool</a></li>
                <li><a href="#">Max Muster</a></li>
                <li><a href="#">Juan Pérez</a></li>
            </ul>
        </div>
        <div class="span9">
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                OK
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                paragraphs
            </div>
            <div class="msg">
                <span class="msg-date">19:52</span>
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words
            </div>
            <div class="msg">
                <img src="img/default_medium_profile_pic.png" class="msg-avatar" alt="1" />
                <textarea class="msg-text" name="msg-text" rows="3"></textarea>
            </div>

        </div>
    </div>
</div>