<div class="post" data-id="{{>id}}" data-time="{{>time}}" >
    <div class="post-avatar">
        <a href="/profile/{{>username}}"><img src="http://smil3.org/userdata/{{>username}}.jpg" alt="{{>name}}" title="{{>name}}"></a>
    </div>
    <div class="post-wrap">
        <div class="arrow"></div>
        <!--<div class="arrow2"></div>-->
        <div class="post-title">
            <a href="/profile/{{>username}}">
                <b class="author">{{>name}}</b>
                <span class="username muted">@{{>username}}</span>
            </a>
            <span class="time">{{:~unix2time(time) }}</span></div>
        <div class="post-content">
            <p class="text">{{:~parsePost(text) }}</p>
        </div>
        <div class="post-footer btn-toolbar">
            <!--<button class="btn btn-mini" type="button">
                <i class="icon-share-alt"></i>
                <span>{{>shareCounter}}</span>
            </button>-->

            <div class="btn-group likebtns">
                <button data-action="like" class="btn btn-mini" type="button"><i class="icon-thumbs-up"></i> {{>plusCounter || ''}}</button>
                <button data-action="unlike" class="btn btn-mini" type="button"><i class="icon-thumbs-down"></i> {{>minusCounter || ''}}</button>
            </div>

            <!--<button class="btn btn-mini" type="button">
                <i class="icon-refresh"></i>
            </button>

            <div class="btn-group">
                <button class="btn btn-mini" type="button"><i class="icon-plus"></i></button>
                <button class="btn btn-mini" type="button"><i class="icon-bell"></i></button>
                <button class="btn btn-mini" type="button"><i class="icon-flag"></i></button>
            </div>-->

            <button class="btn btn-mini pull-right" type="button">
                <i class="icon-comment"></i> {{>comentCounter || '0'}}</span>
            </button>
        </div>
    </div>
</div>
