
<div class="row">
    <div class="span3">
        <img src="http://smil3.org/userdata/{{>username}}.jpg" class="img-polaroid profile-pic" alt="Imagen de prefil" />
    </div>
    <div class="span5">
        <h1>{{>name}}</h1>
        <h6>{{>bio}}</h6>
        <h4>@{{>username}}</h4>
        <div class="row">
            <div class="span3">
                {{if web}}<p title="Sitio web"><i class="icon-globe"></i> <a id="p-web" href="{{>web}}">{{>web}}</a></p>{{/if}}
                {{if birthdate}}<p title="Fecha de nacimiento o cumpleaños"><i class="icon-gift"></i> {{>birthdate}}</p>{{/if}}
                {{if city}}<p title="Donde esta"><i class="icon-map-marker"></i> {{>city}} {{>country}}</p>{{/if}}
                {{if email}}<p title="Dirección de correo electronico"><i class="icon-envelope"></i> {{>email}}</p>{{/if}}
            </div>
            <div class="span2">
                {{if work}}<p><i class="icon-briefcase"></i> {{>work}}</p>{{/if}}
                {{if sex}}<p><i class="icon-gender"></i> {{>sex == 'M' ? 'Hombre' : 'Mujer'}}</p>{{/if}}
                {{if last_login}}<p><i class="icon-time"></i> {{>last_login}}</p>{{/if}}
                {{if relation}}<p><i class="icon-signal"></i> {{>relation}}</p>{{/if}}
            </div>
        </div>

    </div>
    <div class="span2">
        <h6>Gente que sigo ({{>followingCount}}) <a href="#" class="pull-right icon-resize-full" rel="tooltip" title="Ver todos"></a></h6>
        <div class="minipics">
            <div>
                {{for following}}
                <a href="/profile/{{>username}}"><img src="http://smil3.org/userdata/{{>username}}.jpg" alt="{{>name}}" title="{{>name}}"></a>
                {{else}}
                No sigue a nadie
                {{/for}}
            </div>
        </div>

    </div>
    <div class="span2">
        <h6>Gente que me sigue ({{>followerCount}}) <a href="#" class="pull-right icon-resize-full" rel="tooltip" title="Ver todos"></a></h6>
        <div class="minipics">
            <div>
                {{for follower}}
                <a href="/profile/{{>username}}"><img src="http://smil3.org/userdata/{{>username}}.jpg" alt="{{>name}}" title="{{>name}}"></a>
                {{else}}
                Nadie le esta siguiendo
                {{/for}}
            </div>
        </div>
    </div>
</div>
<div id="publishHere" class="row">
    {{for posts}}
    {{include tmpl="#post-tmpl"/}}
    {{else}}
    <div class="span5">{{>name}} todavia no ha publicado nada.</div>
    {{/for}}
</div>
